*{
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

.para{
    margin-left:500px;
    margin-top: -30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center  ;
}
.foot{
    background-color:#3b5998;
    height: 70px;
    max-height: 100px;
    min-height: 100px;
    
}
.img{
   margin-left: 35px;
}
.leftitems li  {
    display: inline-block;
    list-style: none;  
    height: 30px;
    width: 100px;
    margin-left: px;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    text-decoration: none;
    


    
    
}
.footer{
    background-color:#3b5998 ;
    margin-left: -100px;
    width: 100%;
    height: 50px;
}
.footer li{
    margin-left: 10px;
color: white;
list-style: none;
text-decoration: none;


}


.leftitems{
    margin-left: 1100px;
    margin-top: -40px;
    padding: 1px;
    width: 30%;
    height: 50px;
    color: grey;
}
.footer{
    margin-left: 2px;
    margin-top:2 px;
    text-decoration: none;
}
.img{
    margin-top: 10px;
}


.left{
    text-decoration: none;
}



.saylani{
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
}
.second li{
    padding: 10px;
    text-decoration: none;
    color: black;

}
.second{
    margin-left: 500px;
    margin-top: -80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-decoration: none;


}
.nav{
    background-color: #3b5998;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav-link div{
    color: black;
    background-color: rgb(255, 251, 251);
}
.two{
    background-color:#0040ff;
height: 300px;
margin-top: 40px;
width: 1700px;
}

    .submenu{
    display: block;
}
.background{
width: 1690px;
        text-align: center;
        font-weight: lighter;
    margin-top: 20px;
    min-width: 200px;

}
@media only screen and (max-width:600px){
    .background{
        flex-direction: column;
    }
}
.hellomydiv{
    background-color:white;
    color: grey;
    margin-left: 100px;
}
nav

.move{
    background-color:#3b5998;
    color: white;
    width: 130%;
    height: 30px;
    margin-left: 120px;
    align-items: center;
    margin-top: 20px;
}
.news{
    color: limegreen;
}
.more{
    color: blue;
    text-decoration: none;
    text-align: center;
}
body{
    background-color: #d4dbd4fa;
    min-height: 400px;
    min-width: 400px;
    align-items: center;
    align-content: center;

}
.background{
    background-color: white;
}
.intro{
    color: #3b5998;
    float: center;
    margin-top: 400px;
}
h1{
    color: green;
    text-align: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 35px;


}
.uk li{
    background-color: rgb(255, 250, 250);
    list-style: none;
    display: inline-block;
    color: black;
    height: 35px;
    margin-top: 4px;
}
.small{
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 28px;
}
.smalllogo{
    margin-top: 10px;
    widows: 200px;
}
.bigpara{
    margin-top: 50px;
    font-size: 20px;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center;

}

.hello{
    text-decoration: none;
    color: black;
}
p{
    padding: 15px;
}
.center{
    background-color:#0040ff;
    height: 300px;
    margin-top: 40px;
    width: 1700px;

}.spoon{
    width: 120px;
    margin-left: 180px;
    margin-top: 10px;
    padding: 20px;
    margin-bottom: -20px;
}
.content{
    margin-left: 100px;
    margin-top: 100px;
    padding: 30px;
    background-color: #0040ff;
    width: 100%;
}
.number{
    color: white;
    margin-left: 60px;
    font-size: 48px;
    margin-top: -4px;   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    width: 100%;
}
.last{
    margin-left: 100px;
    font-size: 22px;
    color: white;
    margin-top: -5px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.what{
    margin-top: 100px;
}
#yes{
    margin-left: 
}
.month{
    color:rgb(32, 206, 32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}
.health{
    width: 50px;
    margin-left: 160px;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: -20px;

}
.left{
    background-color:lightgrey;
    height: 30px;
    width: 90px;
    padding: -10px;
}
.project li{
    list-style: none;
    display: inline-block;
    display: inline-block;
    color:#0040ff;
    font-weight: bold;
    font-size: 25px;
    background-color: white;
    height: 200px;
    width: 380px;
    margin-top: 80px;
border-collapse: collapse;
box-shadow: darkgrey;
border: p  rgb(231, 225, 225);
border-style: outset;
box-shadow: dimgray;
margin-left: 20px;
box-shadow:grey 1px 1px 1px 1px;


}
#hell{
    margin-left: 150px;
    margin-top: 20px;
}
#dark{
    margin-left: 60px;

}
.proj{
    margin-bottom: -10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
.projectli li{
    list-style: none;
    display: inline-block;
    display: inline-block;
    color:#0040ff;
    font-weight: bold;
    font-size: 25px;
    background-color: white;
    height: 200px;
    width: 380px;
    margin-top: 100px;
border-collapse: collapse;
box-shadow: darkgrey;
border: p  rgb(231, 225, 225);
border-style: outset;
box-shadow:grey 1px 1px 1px 1px;
margin-left: 20px;
margin-top:10px;

}
.mydiv{
    margin-left: 100px;
}
.write{
    margin-left: 140px;
}
.writeone{
    margin-left: 100px;
}
.left{

       

}
.right{
    margin-right: 300px;

}
.mission li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 35px;
    padding: 130px;
    margin-left: 20px;

}
.bottom{
    background-color:white;
    margin-top: 60px;
}

.mission{
    color:#0040ff ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.upcoming{
    margin-left: -90px;
}
.account{
    margin-left: 1120px;
    margin-top: -10px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
}
.picture  li{
    list-style: none;
display: inline-block;
display: inline-block;
font-weight: bold;
font-size: 25px;
background-color:rgb(250, 245, 245);
margin-left: 140px;
margin-top:-1px;
width:370px;
height: 80px;
text-align: center;
color:#0040ff;
box-shadow: darkgrey;
border: p  rgb(231, 225, 225);
border-style: outset;
box-shadow:grey 1px 1px 1px 1px;



}
.hellodiv{
    margin-top: -100px;
}
.pictureone li{

    list-style: none;
    display: inline-block;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    background-color:rgb(250, 245, 245);
    margin-left: 140px;
    margin-top:20px;
    width:370px;
    height: 80px;
    text-align: center;
    color:#0040ff;
    box-shadow: darkgrey;
border: p  rgb(231, 225, 225);
border-style: outset;
box-shadow:grey 1px 1px 1px 1px;
}
.gallary li{
    margin-top: 100px;
    display: inline-block;
    list-style: none;
}
.gallary li img{
    width: 280px;
    

}
.gallary{
    margin-left: 160px;
}
.first li{
    margin-left: -1000px;
    list-style: none;
} 
.seimg{
    width: px;
} 
.end{
    background-color:rgba(0%, 0%, 0%, 84%);
    width: 1700px;
    height: 400px;
}
.addressone {
    color: grey;
    padding: 10px;
    margin-left: 170px;
    margin-top: 100px;
}
.addressonee{
    color: grey;
}
.phone{
    width: 20px;
}
.end li{
    margin-left: 180px;
    list-style: none;
    margin-left: 100px;
    padding: 10px;
    
}
.myfile{
    margin-left: 100px;
    font-size: 18px;
    margin-top: 10px;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.globle{
    margin-left: 20px;
}
.font{
    color:white;
    text-align: center;
    margin-top: -300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.line{
    color: green;
    margin-left: 130px;
}
.socialmedia{
    margin-left: 850px;
    
}
.socialmedia li{
    list-style: none;
    display: inline-block;
    margin-left: -20px;
}
#lastdiv{
    border:3px solid  #0040ff ;
    border-radius: 10px;
}
li .dropdown{
    background-color: transparent;
}
.dropdown .btn btn-secondary dropdown-toggle{
    background-color: #0040ff;
    border-radius: 20px;

}
.none{
    background-color: transparent;
    margin-top: -360px;
    margin-left: 1120px;
    color:#0040ff ;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 30px;
}
.dropdown :hover{
    background-color: #3b5998;
    border-radius: 30px;
    height: 50px;
}
.dropdown a:hover{
    background-color: #3b5998;
    height: 50px;
.navbar navbar-expand-lg navbar-light:hover{
    background-color: #0040ff;
    margin-top: 10px;
    width: 100px;
}
.dropdown-item:hover{
    background-color: #3b5998;
}
.nonane li{
    list-style: none;

}
#class{
    background-color: grey;
}
.button li{
    list-style: none;
    display: inline-block;
}
.hash{
    color: white;
}

<ul class="socialmedia">
<li><a href="https://www.facebook.com/saylaniwelfare/"><img src="https://seeklogo.net/wp-content/uploads/2013/11/facebook-flat-vector-logo.png" width="20" class="img" id="lastdiv"></a></li>
<li><a href="https://twitter.com/OfficialSwit">        <img src="https://seeklogo.net/wp-content/uploads/2015/09/twitter-square-logo.png" width="20" class="img" id="lastdiv"></a></li>
 <li><a href="https://www.instagram.com/saylaniwelfare/"><img src="https://seeklogo.net/wp-content/uploads/2016/05/instagram-icon-logo-vector-download.jpg" width="20" class="img" id="lastdiv"></a></li>
  <li><a href="https://api.whatsapp.com/send?phone=923331201585&text=&source=&data=&app_absent="><img src="https://seeklogo.net/wp-content/uploads/2013/04/whatsapp-icon-vector.png" width="20" class="img" id="lastdiv"></a> </li>
   <li><a href="https://www.youtube.com/c/SaylaniWelfareTrustOfficialPage"><img src="http://pngimg.com/uploads/youtube/youtube_PNG20.png" width="20" class="img"  id="lastdiv"></a><li>
   <div class="font">
   Useful Links<br><span class="line">________</span><span>_____________________________</span>
   
    </div >
    <ul class="picture">
    <li class="nav-item"><a class="nav-link"><img src="https://www.saylaniwelfare.com/public_html/images/saylani/icons/Hepatitis.png" class="house">HEPATITIS</a></li>
    <li class="nav-item"><a class="nav-link"><img src="https://www.saylaniwelfare.com/public_html/images/saylani/icons/housing.png" class="house">HOUSING SOCIETY</a></li>
    |</ul>
    <ul class="pictureone">
    <li class="nav-item"><a class="nav-link"><img src="https://www.saylaniwelfare.com/public_html/images/saylani/icons/IT.png" class="house">IT LITERACY</a></li>
    <li class="nav-item"><a class="nav-link"><img src="https://www.saylaniwelfare.com/public_html/images/saylani/icons/tharparkar.png" class="house">THARPARKAR</a></li>
    </ul>
   <p class="account">Saylani Welfare Distributing Ration &<br> Clothes to affected people of Balochistan<br> .More Details
                Entry Test Accouncement<br> (Graphic Designing & Video Editing<br>/Animation Course) On Sunday 3rd March <br>2019 @ 11:00Am Vanue: 4rh Floor, Saylani<br> Welfare International Trust HeadOffice<br> Bahadurabad .More Details
                
                Dr Jamil Ahmed <br>(Additional Inspector General of Police) &<br> Atiqmir Visit Saylani Welfare International <br>Trust, Saylani Mass I.T. Training .More <br>Details
                
                PIAIC Entrance Exam Merit Ranking<br> List Announced.More Details</li>
            </div>





























